{% load static %}
<!doctype html>
<html>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Events Section</title>
        <link rel="stylesheet" type="text/css" href={% static 'css/event.css' %}>
    </head>
    <body>
        <section class="events-section">
            <div class ="leftbox">
                <div class = "content">
                    <h1>Events</h1>
                    <p>
                        WELCOME TO OUR EVENTS PAGE
                    </p>
                </div>
            </div>
            <div class ="events">
                <ul>
                    <li>
                        <div class ="time">
                            <h2>
                                <img src="staticfiles/img/h6.jpg">
                                <br>
                                <span>Offline</span>
                            </h2>
                        </div>
                        <div class = "details">
                            <h3>Event details</h3>
                            <p>
                                CHECKOUT OUR OFFLINE EVENTS WE ARE ALWAYS ON THE LOOKOUT THAT OUR MEMBERS
                                HAVE THE MOST OUT OF THESE EVENTS SO FEEL FREE TO JOIN THEM BY CONTACTING 
                                US
                            </p>
                            <a href = "/offline">Photos</a>
                        </div>
                        <div style="clear:both;"></div>
                    </li>
                    <li>
                        <div class ="time">
                            <h2>
                                <img src="staticfiles/img/l8.jpg">
                                <br>
                                <span>Online</span>
                            </h2>
                        </div>
                        <div class = "details">
                            <h3>Event details</h3>
                            <p>
                                CHECKOUT OUR ONLINE EVENTS WE ARE ALWAYS ON THE LOOKOUT THAT OUR MEMBERS
                                HAVE THE MOST OUT OF THESE EVENTS SO FEEL FREE TO JOIN THEM BY CONTACTING 
                                US
                            </p>
                            <a href = "/online">Photos</a>
                        </div>
                        <div style="clear:both;"></div>
                    </li>
                </ul>
            </div>
        </section>
        <body>
        </html>
