{% load static %}
<!doctype html>
<html>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Events Section</title>
        <link rel="stylesheet" type="text/css" href={% static 'css/event.css' %}>
    </head>
    <body>
        <section class="events-section">
            <div class ="leftbox">
                <div class = "content">
                    <h1>Events</h1>
                    <p>
                        THIS THE BEST EVENTS PAGE PLEASE
                        FEEL FREE TO JOIN OUR EVENTS THESE
                        ARE ONE OF THE BEST EVENTS AROUND
                        THE WORLD HOPE YOU COME
                    </p>
                </div>
            </div>
            <div class ="events">
                <ul>
                    <li>
                        <div class ="time">
                            <h2>
                                <img src="staticfiles/img/h5.jpg">
                                <br>
                                <span>Offline</span>
                            </h2>
                        </div>
                        <div class = "details">
                            <h3>Event details</h3>
                            <p>
                                THE EVENT IS GOING TO BE GREAT AS
                                IT IS HELD AT ONE OF THE BEST CLUBS IN THE WORLD
                                THE BALASORE CLUB
                            </p>
                            <a href = "/">Home</a>
                        </div>
                        <div style="clear:both;"></div>
                    </li>
                    <li>
                        <div class ="time">
                            <h2>
                                <img src="staticfiles/img/l2.jpg">
                                <br>
                                <span>Online</span>
                            </h2>
                        </div>
                        <div class = "details">
                            <h3>Event details</h3>
                            <p>
                                THE EVENT IS GOING TO BE GREAT AS
                                IT IS HELD AT ONE OF THE BEST CLUBS IN THE WORLD
                                THE BALASORE CLUB
                            </p>
                            <a href = "/">Home</a>
                        </div>
                        <div style="clear:both;"></div>
                    </li>
                </ul>
            </div>
        </section>
        <body>
        </html>
